[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask_sqlalchemy = "*"
flask_migrate = "*"
flask_cors = "*"
flask_admin = "*"
python-dotenv = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.10"


[scripts]
start="flask run -p 3000 -h 0.0.0.0"
init="flask db init"
migrate="flask db migrate"
upgrade="flask db upgrade"
diagram = "eralchemy2 -i 'postgresql://gitpod:postgres@localhost:5432/example' -o diagram.png"
deploy="echo 'Please follow this 3 steps to deploy: https://start.4geeksacademy.com/deploy/render' "
